.checkOutContainer {
  max-width: 1920px;
  min-width: 280px;
  width: 100%;
  max-height: 1080px;
  min-height: 400px;
  height: 100%;
  margin-top: 15%;
}

.paypalLogo {
  max-width: 150px;
  max-height: 150px;
  border-radius: 10px;
  box-shadow: 8px 13px 25px #0000005a;
  margin-bottom: 20px;
}

.payNowButton {
  width: 250px;
  height: 60px;
}

.CheckOutTitlePara {
  color: rgb(255,255,255);
  font-size: 30px;
  font-family: Poppins, sans-serif;
  font-style: italic;
  margin-bottom: 0px;
  width: 140px;
}

.chekOutBody {
  background: linear-gradient(156deg, rgba(0,123,255,0.53) 99%, white 100%), url("../../assets/img/colorful-present-gifts-seamless-pattern-background-vector_37112-200.jpg");
}

