.toggle-box {
  width: 220px;
  position: inherit;
  box-shadow: 0 0 10px 5px rgba(24,99,187,0.38);
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: 40px;
}

.toggle-button {
  padding: 10px 25px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: #222162;
  font-weight: normal;
  font-family: 'Montserrat';
}

#btn-bg {
  position: absolute;
  left: 0;
  height: 100%;
  width: 110px;
  border-radius: 30px;
  transition: .5s;
  background: linear-gradient(to right, rgba(34,33,98,0.69), rgba(24,99,187,0.71));
  filter: blur(2px);
}

.login-form {
  top: 10px;
  position: absolute;
  transition: .5s;
  height: 350px;
  width: 350px;
}

.form_control {
  padding: 0;
  margin: 20px 0;
  border-style: solid;
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-bottom-color: rgb(206,218,207);
  border-left-style: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.login-button {
  border-radius: 30px;
  margin-top: 50px;
  border: 0;
  outline: none;
  background: linear-gradient(to right, #212462, #1832bb);
  width: 100px;
  height: 40px;
}

.login-modal {
  max-width: 500px;
  min-width: 280px;
  width: 100%;
  height: 400px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: transparent;
}

#login {
  background: rgba(33,98,73,0.03);
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 15.0px );
  border-radius: 15px;
  margin-top: 20px;
  max-width: 350px;
  min-width: 280px;
  width: 100%;
}

@media (max-width: 576px) {
  #login {
    background: rgba(33,98,73,0.03);
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 15px;
    margin-top: 20px;
    max-width: 300px;
    min-width: 280px;
    width: 100%;
  }
}

#signup {
  left: 500px;
  background: rgba(33,98,73,0.03);
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 15.0px );
  border-radius: 15px;
  margin-top: 20px;
  max-width: 350px;
  min-width: 280px;
  width: 100%;
}

@media (max-width: 576px) {
  #signup {
    left: 500px;
    background: rgba(33,98,73,0.03);
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 15px;
    margin-top: 20px;
    max-width: 300px;
    min-width: 280px;
    width: 100%;
  }
}

.login-div {
  background: transparent;
}

.loginDiv {
  margin-top: 15%;
}

.loginMainDiv {
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  height: 100%;
  background: url("leone-venter-mTkXSSScrzw-unsplash.jpg") center / cover no-repeat;
  margin-top: 80px;
  padding-top: 50px;
}

#check {
  left: 500px;
  background: rgba(33,98,73,0.03);
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 15.0px );
  border-radius: 15px;
  margin-top: 20px;
  max-width: 350px;
  min-width: 280px;
  width: 100%;
}

@media (max-width: 576px) {
  #check {
    left: 500px;
    background: rgba(33,98,73,0.03);
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 15px;
    margin-top: 20px;
    max-width: 300px;
    min-width: 280px;
    width: 100%;
  }
}

.loginBody {
  background: url("../../assets/img/jeshoots-com-dJSS2dhTjA4-unsplash.jpg") center / cover no-repeat;
}

